.agendados {
  padding: 2rem;
  display: grid;
  gap: 1rem;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.title {
  font-size: 2rem;
  padding-bottom: 0.5rem;
  color: #db822e;
}

.content {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  gap: 1rem;
}

.content li {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 0.5rem;
  padding: 1rem 0;
  border-top: 1px solid #db822e;
  border-bottom: 1px solid #db822e;
}

.informacoes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.datas {
  display: grid;
  gap: 0.5rem;
  grid-column: 1/-1;
  justify-self: start;
}

.servicos {
  display: grid;
  gap: 1rem;
}

.datas p,
.barbeiro p,
.servicos p {
  color: #db822e;
  font-size: 1.2rem;
}

.datas p span,
.barbeiro p span,
.servicos p span {
  color: #000;
  font-size: 0.9rem;
}

.divider {
  display: block;
  height: 2px;
  width: 10px;
  background: #db822e;
  grid-column: 1/-1;
}

.barbeiro {
  grid-column: 1/-1;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  grid-column: 2;
  justify-self: end;
}

.buttons button {
  color: #fff;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 0.4rem;
  max-width: max-content;
  text-align: center;
  display: block;
  cursor: pointer;
  font-size: 1rem;
}

.buttonExcluir {
  background: #b51f21;
}

.buttonEditar {
  background: #db822e;
}

.deleteMessage {
  color: #0aff0a;
  justify-self: center;
  font-size: 1.3rem;
}

.error {
  color: #b51f21;
  justify-self: center;
  font-size: 1.3rem;
}

.containerModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6); /* fundo preto transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.contentModal {
  padding: 2rem;
  background: #fff;
  border-radius: 0.5rem;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: start;
  gap: 2rem;
  max-height: 600px;
  overflow-y: auto;
}

.subtitle {
  grid-column: 1/-1;
}

.closed {
  position: absolute;
  background: #b51f21;
  padding: 4px;
  text-align: center;
  color: #fff;
  display: block;
  border-radius: 4px;
  border: none;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.contentModal > h2 {
  font-size: 2rem;
  padding-bottom: 0.5rem;
  color: #db822e;
}

.barbeiros {
  display: grid;
  gap: 1rem;
  max-height: 300px;
  overflow-y: auto;
}

.barbeiros h2 {
  color: #4d2c0f;
}

.barbeiros h2::after {
  content: '';
  height: 4px;
  width: 20px;
  background: #4d2c0f;
  border-radius: 0.5rem;
  display: block;
}

.barbeiros ul {
  display: grid;
  gap: 0.5rem;
}

.barbeiros li {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 1rem;
  border-top: 1px solid #db822e;
  border-bottom: 1px solid #db822e;
  cursor: pointer;
}

.barbeiros span {
  font-size: 0.8rem;
  color: #db822e;
}

.barbeiros li:hover,
.barbeiros li:hover span {
  background: #db822e;
  color: #fff !important;
}

.barbeiroSelected,
.barbeiroSelected span {
  background: #db822e !important;
  color: #fff !important;
}

.datas {
  display: grid;
  justify-content: center;
  gap: 2rem;
}

.datasContent {
  display: grid;
  gap: 1rem;
  align-content: start;
}

.datasReagendar h2 {
  color: #4d2c0f;
  align-self: start;
}

.datasReagendar h2::after {
  content: '';
  height: 4px;
  width: 20px;
  background: #4d2c0f;
  border-radius: 0.5rem;
  display: block;
}

.datasReagendar ul {
  display: flex;
  gap: 1rem;
  align-items: center;
  align-self: start;
}

.datasReagendar li {
  padding: 0.5rem;
  border-right: 1px solid #db822e;
  border-left: 1px solid #db822e;
  cursor: pointer;
}

.datasReagendar li:hover,
.dataSelected {
  background: #db822e;
  color: #fff !important;
}

.horas {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
}

.horas p {
  padding: 0.5rem;
  border-right: 1px solid #db822e;
  border-left: 1px solid #db822e;
  cursor: pointer;
}

.horas p:hover,
.horasSelected {
  background: #db822e;
  color: #fff !important;
}

.buttonReagendar {
  align-self: end;
  justify-self: end;
  margin-top: 40px;
}

.sucessReagendar {
  color: #0aff0a;
  justify-self: center;
  font-size: 0.8rem;
  grid-column: 2;
}

.errorReagendar {
  color: #b51f21;
  justify-self: start;
  font-size: 0.9rem;
  grid-column: 2;
}

.servicosEditar {
  grid-column: 1/-1;
  display: grid;
  gap: 0.5rem;
}

.servicosEditar h2 {
  color: #4d2c0f;
}

.servicosEditar h2::after {
  content: '';
  height: 4px;
  width: 20px;
  background: #4d2c0f;
  border-radius: 0.5rem;
  display: block;
}

.servicosEditarContainer {
  display: grid;
  gap: 1rem;
  max-height: 150px;
  overflow-y: auto;
}

.servicosEditarContent {
  padding: 0.5rem;
  display: grid;
  gap: 0.5rem;
  border: 1px solid #db822e;
  border-radius: 0.5rem;
  max-height: 200px;
}

.servicosEditarContentbutton {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
}

.servicosEditarContentbutton p {
  font-size: 1.2rem;
  color: #db822e;
  font-weight: 800;
}

.servicosEditarContentbutton button {
  background-color: #db822e;
  border: none;
  padding: 0.5rem;
  color: #fff;
  cursor: pointer;
  border-radius: 0.5rem;
}

.servicosEditarContentHorario p {
  color: #db822e;
  font-size: 0.8rem;
}
